# Base de Datos PostgreSQL
DB_HOST=localhost
DB_PORT=1234 //your port
DB_NAME=DIMS
DB_USERNAME=postgres
DB_PASSWORD=your_secure_password_here

# JWT Configuration
JWT_SECRET_KEY=your_very_long_secret_key_here_change_in_production
JWT_ISSUER=DIMS_Backend
JWT_AUDIENCE=DIMS_Frontend

# CORS Allowed Origins (separado por comas)
CORS_ORIGINS=http://localhost:1234

# Environment
ASPNETCORE_ENVIRONMENT=Development
